.top-screen {
  padding-top: 63px;
}

.nav-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #575757;
}
.active {
  color: #fb9300;
}

.header-container {
  background-repeat: no-repeat;
  background-position: right 5px, right 0;
  background-image: url(/images/222.png),
    linear-gradient(45deg, white 0%, white 39%, rgba(251, 147, 0, 0.21) 100%);
}
.promo {
  padding-top: 153px;

  &-title {
    padding: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #fb9333;
    background-color: #fff0dc;
  }
  &-title span {
    color: black;
  }
  &-subtitle {
    padding-top: 78px;
    padding-bottom: 112px;
    font-weight: bold;
    font-size: 46px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  &-subtitle span {
    color: #fb9333;
  }

  &-stat-count {
    width: 85px;
    height: 38px;
    margin-right: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #575757;
  }

  &-stat-count::after {
    content: "+";
  }
  &-btn {
    position: relative;
    padding: 22px 39px;
    background-color: #fb9333;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;

    &::after {
      position: absolute;
      content: "";
      top: -25px;
      right: -16px;
      transform: rotate(20deg);
      width: 60px;
      height: 60px;
      background-image: url(/images/-bee.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.product {
  margin-top: 84px;
  // width: 1177px;
  // align-items: center;

  &-img {
    margin-bottom: 5px;
  }

  &-btn {
    background-color: #fb9333;
    width: 170px;
    height: 49px;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  h3 {
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: -0.02em;

    color: #3a3636;
  }
}

.products-mid {
  margin-top: 118px;

  & h3 {
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #3a3636;
  }
  & h3 span {
    color: #fb9333;
  }

  & p {
    font-weight: normal;
    font-size: 19px;
    line-height: 150%;
    color: #3a3636;

    & span {
      color: #fb9333;
    }
  }
}
.product-bottom {
  margin-top: 98px;

  & h2 {
    margin-bottom: 63px;
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fb9333;
  }
}

.subscribe {
  margin-top: 132px;

  &-inner {
    padding-top: 68px;
    padding-bottom: 76px;
    text-align: center;
    background-image: url(/images/back.png);
    background-color: #eaddca;
    background-repeat: no-repeat;
    background-position: bottom -200px left 0px;
    background-size: cover;
    border-radius: 3em;
  }
  &-txt {
    width: 69%;
    margin: 0 auto;
  }
  &-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fb9333;
  }
  &-cta {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #585858;
  }
  &-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.02em;
    width: 554px;
    margin: 0 auto;
    color: #3a3636;
  }

  &-form {
    margin-top: 79px;

    & input {
      width: 70%;
      border: none;

      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: #575757;
    }

    & button {
      width: 30%;
      background-color: #fb9333;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ffffff;
    }
  }
  &-form-inner {
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px 5px 10px 20px;
    border-radius: 100px;
    background-color: #ffffff;
  }
}

@media (max-width: 992px) {
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .nav-link {
    border-radius: 0;
    border-bottom: 1px dotted white;
    background-color: #575757;
    color: white;
    text-align: center;
  }
}
