.top-screen {
  padding-top: 63px;
}
.nav-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #575757;
}
.active {
  color: #fb9300;
}
.promo {
  &-stat-count::after {
    content: "+";
  }
  &-btn {
    position: relative;
    padding: 22px 39px;
    background-color: #fb9333;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
  }
}

@media (max-width: 992px) {
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .nav-link {
    border-radius: 0;
    border-bottom: 1px dotted white;
    background-color: #575757;
    color: white;
    text-align: center;
  }
}
